#__nuxt, #__layout {
  position: relative;
  height: 100%;
  width: 100%;
}
body{
    font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "'Hiragino Sans GB", STHeiti, "Microsoft Yahei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", Arial, Verdana, sans-serif;
    text-shadow:0px 0px 1px rgba(0, 0, 0, 0.1);
    font-weight: 400;
}
.el-popup-parent--hidden{
  padding: 0 !important;
}
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,body {
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
/*后台登录*/
.login-box {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 350px;
  width: 450px;
  margin: -175px 0 0 -225px;
  background: white;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  padding: 20px 40px;
}
.login-box .logo {
  position: relative;
}
.login-box .logo:before {
  content: '';
  position: absolute;
  width: 18%;
  height: 1px;
  background: #7ca9f1;
  left: -10px;
  top: 50%;
}
.login-box .logo:after {
  content: '';
  position: absolute;
  width: 18%;
  height: 1px;
  background: #7ca9f1;
  right: -10px;
  top: 50%;
}
.login-box .title {
  font-size: 25px;
  line-height: 50px;
  margin-bottom: 20px;
  color: #2e75fa;
}
.login-box .title img{
  vertical-align: middle;
}
.login-box .form {
  text-align: left;
}
.login-box .form .form-item{
  padding-bottom: 15px;
  position: relative;
}
.login-box .form .form-item .iconfont {
  position: absolute;
  top: 6px;
  left: 10px;
  font-size: 25px;
  color: #cccdd6;
  z-index: 3;
}
.login-box .button {
  background: #3e75fa;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}
.login-box .button:hover {
  background: #5c94fb;
}

.login-box .el-input__inner {
  padding-left: 40px;
  border-radius: 5px;
}


/*后台管理*/
.admin-page {
  padding: 10px 20px;
}
.admin-page .top {
  line-height: 30px;
  font-weight: bold;
}
.admin-page .top .title {
  border-left: 5px solid #3393f5;
  padding-left: 10px;
  font-size: 18px;
  margin-right: 20px;
}

@keyframes boardEntry
{
  from {top: -200%;bottom: 204%}
  to {8: 8%;bottom: 8%;}
}


.action-bar {
  position: relative;
  overflow: hidden;
  padding: 10px 0;
  line-height: 30px;
  font-size: 16px;
}
.action-bar >  button{
  float: right;
  margin-left: 10px;
}
.action-bar > span{
  cursor: pointer;
  color: #4177ff;
}
.action-bar > span:hover{
  color: #7CA9F1;
}
.action-bar > div {
  display: inline-block;
  padding: 5px ;
}

.action-bar > div .el-input{
  max-width: 180px;
}


/* 打印列表*/

@media print {}
@page {
    margin: 18px;
}
.print-box .el-dialog__header{
  display: none !important;
}
.print-box .el-dialog__body{
  padding: 10px !important;
}
.print-page td, .print-page th{
  padding: 5px 0 !important;
  font-size: 12px;
}
.print-page{
  font-family: 宋体;
  position: relative;
  font-size: 12px;
}
.print-page > div{
  position: relative;
  padding:  0 30px;
}
.print-page .page-tag{
  font-size: 16px;
  line-height: 30px;
  padding: 0 10px;
  position: absolute;
  left:0;
  top: 0;
  border: 1px solid #333;
  color:#333;
  text-align: center;
}
.print-page .page-footer{
  font-size: 16px;
  margin-top: 5px;
  font-family: 仿宋;
  line-height: 1.6;
}
.print-page .page-footer span{
  font-size: 14px;
  font-family: 楷体;
}
.print-page .page-title{
  text-align: center;
  font-size: 22px;
  line-height: 35px;
  font-weight: bold;
}
.print-page .page-top{
  line-height: 22px;
  margin-bottom: 5px;
}

#content::-webkit-scrollbar {
	width: 15px;
	height: 15px;
}

#content::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
	border-radius: 10px
}

#content::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(0,0,0,.3)
}
div::-webkit-scrollbar {
  width: 8px;
}

div::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0,0,0,.1);
}

div::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,.5);
}

body::after{
  content: '';
  background: url(../static/images/qlx.jpg) no-repeat;
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.board {
  position: fixed;
  left: 10%;
  right: 10%;
  top: 8%;
  bottom: 8%;
  background: rgba(255,255,255,0.3);
  box-shadow: 0 0 30px white;
  animation: boardEntry 1s;
}
.board:before {
  content: '';
  position: absolute;
  left: -2%;
  right: -2%;
  top: -3%;
  bottom: -3%;
  border-radius: 1%;
  box-shadow: 0 0 30px white inset;
}
.board .item{
  position: absolute;
  width: 75%;
  height: 75%;
  background: rgba(0,0,0,0.4);
  box-shadow: 0 0 20px honeydew inset;
  border-radius: 1%;
  transition:all 0.3s;
  overflow: hidden;
}
.board .item:hover{
  box-shadow: 0 0 50px white inset;
  transition:all 0.1s;
}
.board .item:before{
  content: attr(item-code);
  font-size: 150px;
  line-height: 1;
  color: white;
  position: absolute;
  right: 20px;
  bottom: 10px;
  opacity: 0.2;
}